$icon-font-path: '../fonts/';
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// bower:scss
// endbower

body:before {
  display: none;
  // both images are now loaded when the page loads
  content: url('/images/sprite.svg#e4') url('/images/sprite.svg#e5') url('/images/sprite.svg#e6') url('/images/sprite.svg#e4-hover') url('/images/sprite.svg#e5-hover') url('/images/sprite.svg#e6-hover') url('/images/sprite.svg#characters') url('/images/sprite.svg#characters-hover')  url('/images/sprite.svg#places') url('/images/sprite.svg#places-hover') url('/images/sprite.svg#copy') url('/images/sprite.svg#copy-hover');
}
body {
//  background-color: #ddd;
}
#body{
//  background-color: #fff;
}
#ipsum{
  margin: 20px 0;
}
.sprite
{
  display: inline-block;
  width: 223px;
  height: 32px;  
  &.episode{
    width: 60px;
  }
  &.icon{
    width: 25px;
  }
}
.nav {
  &.nav-pills {
    background: #333;
    li {
      margin: 0;
      padding: 0;
      color: #999;
      line-height: 25px;
      &.active {
        background: transparent;
        a {
          background: transparent;
          color: #fff;
        }
        div#e4 { 
          background-image: url("/images/e4-hover.png"); 
          background-image: url("/images/sprite.svg#e4-hover"); 
        }
        div#e5 { 
          background-image: url("/images/e5-hover.png");
          background-image: url("/images/sprite.svg#e5-hover"); 
        }
        div#e6 { 
          background-image: url("/images/e6-hover.png");
          background-image: url("/images/sprite.svg#e6-hover"); 
        }
        div#characters { 
          background-image: url("/images/characters-hover.png"); 
          background-image: url("/images/sprite.svg#characters-hover"); 
        }
        div#places { 
          background-image: url("/images/places-hover.png"); 
          background-image: url("/images/sprite.svg#places-hover"); 
        }
      }
      a {
        padding: 10px 10px 0 10px;
        margin: 0;
        border-radius: 0;
        color: #999;
        &:hover, &:focus {
          background: transparent;

          div#e4 {
            background-image: url("/images/e4-hover.png");
            background-image: url("/images/sprite.svg#e4-hover");
          }
          div#e5 {
            background-image: url("/images/e5-hover.png");
            background-image: url("/images/sprite.svg#e5-hover");
          }
          div#e6 { 
            background-image: url("/images/e6-hover.png"); 
            background-image: url("/images/sprite.svg#e6-hover"); 
          }
          div#characters { 
            background-image: url("/images/characters-hover.png"); 
            background-image: url("/images/sprite.svg#characters-hover"); 
          }
          div#places { 
            background-image: url("/images/places-hover.png"); 
            background-image: url("/images/sprite.svg#places-hover"); 
          }
          div#copy { 
            background-image: url("/images/copy-hover.png"); 
            background-image: url("/images/sprite.svg#copy-hover"); 
          }
        }

        div#e4 { 
          background-image: url("/images/e4.png"); 
          background-image: url("/images/sprite.svg#e4"); 
        }
        div#e5 { 
          background-image: url("/images/e5.png"); 
          background-image: url("/images/sprite.svg#e5"); 
        }
        div#e6 { 
          background-image: url("/images/e6.png");
          background-image: url("/images/sprite.svg#e6"); 
        }
        div#characters { 
          background-image: url("/images/characters.png"); 
          background-image: url("/images/sprite.svg#characters"); 
        }
        div#places { 
          background-image: url("/images/places.png"); 
          background-image: url("/images/sprite.svg#places"); 
        }
        div#copy { 
          background-image: url("/images/copy.png"); 
          background-image: url("/images/sprite.svg#copy"); 
        }

      }
      input {
        margin-top: 7.5px;
        line-height: 32px;
        height: 32px;
        width: 80px;
      }
    }
  }
}

footer{
  background: #fff;
  .nav {
    &.nav-pills {
      background: #fff;
      li {
        margin: 0;
        padding: 0;
        color: #333;
        font-size: 12px;
        &.active {
          background: transparent;
          a {
            background: transparent;
            color: #333;
          }
        }
        a {
          padding: 10px;
          margin: 0;
          border-radius: 0;
          color: #666;
          font-size: 12px;
          &:hover, &:focus {
            background: transparent;
            color: #333;
          }
        }
      }
    }
  }
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}